html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

div {
    padding-right: 0px;
    width: 100%;
}

.main{
    color:#FFFFFF;
    position: absolute;
    left: 40px;
    background-color: rgba(0,0,0, 0.6);
    width: 400px;
    height:100%;
}

.main p{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
}

.main h1{
    font-family: 'Amatica SC', cursive;
}

.heading{
    width:inherit;
    height:100%;
}

.heading p{
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 25px;
}

.heading h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav {
    width: inherit;
  }

h1 {
    font-size: 48px;
}

.nav h2 {
    font-family: 'Trebuchet MS', 'Helvetica';
}

.nav ul{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

.nav li{
    border-top:1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav li a:active{
    background-color: rgba(97,60,51, 0.4);
}

.nav li:last-child{
    border-bottom: 1px solid gray;
}

.nav li:hover{
    background-color: rgba(97,60,51, 0.4);
    font-weight: bold;
}

.nav li a{
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}

.footer {
    height:75px;
    padding:10px;
    margin:0px;
    color:#FFFFFF;
    background-color: black;
    text-align: center;
    vertical-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
}

.container-fluid{
    background-color: #52616B;
    background-size: cover;
    min-height: 100%;
}

.row{
    padding-left: 690px;
}

.col-sm-4 {
    margin-top:15%;
    margin-left:20px;
    background-color: #C9D6DF;
    height: 400px;
    width:300px;
    border-style: solid;
    border-color:#F0F5F9;
    border-width: 8px
}

.col-sm-4 h3{
    color: #1E2022;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
    font-size: 45px;  
}

.col-sm-4 p{
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;  
    color: #1E2022;
}

.col-sm-4 ul{
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

.col-sm-4 li{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    text-align: center;  
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}