html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

div {
    padding-right: 0px;
    width: 100%;
}

.main{
    color:#FFFFFF;
    position: absolute;
    left: 40px;
    background-color: rgba(0,0,0, 0.6);
    width: 400px;
    height:100%;
}

.main p{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
}

.main h1{
    font-family: 'Amatica SC', cursive;
}

.heading{
    width:370px;
    padding-left: 10px;
}

.nav {
    position: absolute;
  }

h1 {
    font-size: 48px;
}

.nav h2 {
    font-family: 'Trebuchet MS', 'Helvetica';
}

.nav ul{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

.nav li{
    border-top:1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav li a:active{
    background-color: rgba(97,60,51, 0.4);
}

.nav li:last-child{
    border-bottom: 1px solid gray;
}

.nav li:hover{
    background-color: rgba(97,60,51, 0.4);
    font-weight: bold;
}

.nav li a{
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}

.footer {
    height:75px;
    padding:10px;
    margin:0px;
    color:#FFFFFF;
    background-color: black;
    text-align: center;
    vertical-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
}

.container-fluid{
    background-color: #72601B;
    background-size: cover;
    min-height: 100%;
}

.row{
    float: middle;
}

.col-sm-4 {
    margin-top:5%;
    padding-left: 30px;
    background-color: #19270D;
    height: 500px;
    width:300px;
    border-color:#593A0E;
    border-width: 4px
}

.col-sm-4 h3{
    color: #25591F;
    font-family: 'Amatica SC', cursive;
    text-align: center;  
}

.col-sm-4 p{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
    text-align: center;  
    color: #818C3C;
}