html, body {
    font-family: sans-serif;
    height: 1080p;
    margin: 0;
    width: 100%;
}

div {
    padding-right: 30px;
    width: 100%;
}

.container {
    display: flex;
    color: #FFFFFF;
}

.main {
    padding-left: 30px;
}

.nav {

    margin-left: 20px;
}

h1 {
    font-size: 48px;
}

.nav h1 {
    font-family: 'Trebuchet MS', 'Helvetica';
    margin:30px;
    padding:30px;
}

.main{
    background-image: url('/Images/Cabin-Cropped.png');
    background-position: center top;
    background-size: cover;
    color:#FFFFFF;
    text-shadow: 0 2px #000000;
}

.main h1{
    font-family: Georgia, serif;
}


