html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

div {
    padding-right: 0px;
    width: 100%;
}

.container {
    width: inherit;
    height: inherit;
    display: flex;
    color: #FFFFFF;
    background-image: url('/Images/Cabin-Cropped.png');
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.main{
    color:#FFFFFF;
    position: absolute;
    left: 40px;
    background-color: rgba(0,0,0, 0.6);
    width: 400px;
    height:100%;
}

.main p{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
}

.main h1{
    font-family: 'Amatica SC', cursive;
}

.heading{
    width:350px;
    padding-left: 10px;
}

.nav {
    position: absolute;
    top:280px;
}

h1 {
    font-size: 48px;
}

.nav h2 {
    font-family: 'Trebuchet MS', 'Helvetica';
}

.nav ul{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

.nav li{
    border-top:1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav li a:active{
    background-color: rgba(97,60,51, 0.4);
}

.nav li:last-child{
    border-bottom: 1px solid gray;
}

.nav li:hover{
    background-color: rgba(97,60,51, 0.4);
    font-weight: bold;
}

.nav li a{
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
}

.footer {
    height:75px;
    padding:10px;
    margin:0px;
    color:#FFFFFF;
    background-color: black;
    text-align: center;
    vertical-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
}

.container-fluid{
    width: inherit;
    height: inherit;
    display: flex;
    background-color: #424242;
}

.row{
    vertical-align: middle;
    display:inline-block;
    float:none;
}

.col1-styling {
    background-color: #52575D;
    height:500px;
    color:#424242;
    padding:10px;
    border: 1px;
    border-radius: 20px;
}

.col2-styling {
    background-color: #52575D;
    height:500px;
    color:#00B906;
    padding:10px;
    border-radius: 20px;

}

.col3-styling {
    background-color: #52575D;
    height:500px;
    color:#B9E937;
    padding:10px;
    border-radius: 20px;

}

.col1-styling h3 {

    color: #3BB873;

}

.col2-styling h3{

    color: #3BB873;

}

.col3-styling h3{

    color: #3BB873;

}

.col1-styling p {
    font-size: 16px;
    padding-top: 20px;
    color: #F5F5F5;

}

.col2-styling p{
    font-size: 16px;
    padding-top: 20px;
    color: #F5F5F5;
}

.col3-styling p{
    font-size: 16px;
    padding-top: 20px;
    color: #F5F5F5;
}





div#preload { display: none;}





