html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}

div {
    padding-right: 30px;
    width: 100%;
}

.container {
    display: flex;
    color: #FFFFFF;
}

.main{
    background-image: url('/Images/Cabin-Cropped.png');
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    color:#FFFFFF;
    text-shadow: 0 2px #000000;
    padding-left: 30px;
}

.main p{
    font-weight: bold;
}

.main h1{
    font-family: Georgia, serif;
}

.overlay{
    background-color: black;
    width: 100px;
    opacity: .4;
}

.nav {

    margin-left: 20px;
    
}

h1 {
    font-size: 48px;
}

.nav h2 {
    font-family: 'Trebuchet MS', 'Helvetica';
    text-align: center;
    padding:30px;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.nav li{
    float: center;
}

.nav li a{
    display: block;
    color: white;
    text-shadow: 0 2px #000000;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}

.footer {
    color:#FFFFFF;
    text-align: center;
}

div#preload { display: none;}





